<% classroom = classroom.decorate %>

<div class="grid-unit narrow classroom" id="classroom<%= classroom.id %>">
  <%= classroom.settings_icon %>
  <div class="padding-border">
    <%= link_to classroom_requests_path(classroom), class: 'content classroom-unit' do %>
      <h4 class="unit-header truncate"><%= classroom.name %></h4>
      <p class="classroom-desc"><%= classroom.description_or_placeholder %></p>

      <div class="student-count">
        <%= classroom.user_count %>
      </div>
    <% end %>
  </div>

  <div id="edit-classroom<%= classroom.id %>" class="modal">
    <h6 class="subtitle classroom-option">Edit Classroom</h6>
    <%= render partial: 'classrooms/form.html', locals: {classroom: classroom, leave_link: true} %>
  </div>
</div>