<div class="grid-unit narrow classroom" id="classroom<%= classroom.id %>">
  <div class="padding-border">
    <% if policy(classroom).edit? %>
      <a href="#edit-classroom<%= classroom.id %>" rel="modal:open" class="open-modal">Edit</a>
    <% end %>

    <%= link_to classroom_requests_path(classroom), class: 'content classroom-unit' do %>
      <h4 class="unit-header truncate"><%= classroom.name %></h4>
      <p class="classroom-desc"><%= classroom.description %></p>

      <div class="student-count">
        <% students = classroom.students.count %>
        <% teachers = classroom.teachers.count %>
        <div>
        <span class="class-icons student-icon"></span>
        <span class="number"><%= students %></span><span><%= " #{'Student'.pluralize(students)} Joined" %></span>
        </div>
        <div>
        <span class="class-icons student-icon"></span>
        <span class="number"><%= teachers %></span><span><%= " #{'Teacher'.pluralize(teachers)} Joined" %></span>
        </div>
      </div>
    <% end %>
  </div>

  <div id="edit-classroom<%= classroom.id %>" class="modal">
    <h6 class="subtitle classroom-option">Edit Classroom</h6>
    <%= render partial: 'classrooms/form.html', locals: {classroom: classroom, leave_link: true} %>
  </div>
</div>