<%= form_for classroom, remote: remote do |f| %>
  <div class="form-group form-input-required">
    <%= f.label :name, 'Classroom Name' %>
    <%= f.text_field :name, maxlength: "90", placeholder: "Enter classroom name", class: "form-input" %>
  </div>
  <div class="form-group">
    <%= f.label :description, 'Classroom description' %>
    <%= f.text_area :description, maxlength: "90", placeholder: "Enter classroom description (optional; max 90 chars)", class: "form-input" %>
  </div>
  <div>
    <%= f.submit class: "btn btn-primary" %>
    <%= link_to 'Leave Classroom', @classroom, method: :delete, data: {confirm: "Are you sure you want to leave this classroom?"}, class: "danger-link", id: 'delete-classroom' if leave_link %>
  </div>
<% end %>