  <div class="grid-unit whole">
    <h2>Edit Classroom</h2>
    <h6 class="subtitle"><%= @classroom.name %></h6>
  </div>
</div>
<div class="wrapper">
  <div class="grid-unit wide">
    <%= render partial: 'form', locals: {classroom: @classroom, remote: false, leave_link: true} %>
  </div>
</div>

<div class="wrapper">
  <div class="grid-unit whole">
    <h3 class="settings-table">Students</h3>
  </div>
  <% if policy(@classroom).remove_student? %>
    <div class="grid-unit narrow sidebar pull-right">
      <h4>Invite Students</h4>
      <p>To invite students to this classroom, please share this access code: <span class='token'><%= @classroom.user_token %></span> or use the form below.</p>

      <%= form_tag classroom_invitations_path(@classroom) do %>
        <div class="form-group">
          <%= text_area_tag :invitation_emails, '', placeholder: "Separate multiple email addresses with commas or line breaks.", class: "form-input", rows: 4 %>
        </div>
        <div>
          <%= submit_tag 'Send Invitation', class: 'btn btn-primary', id: 'invite-button' %>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="grid-unit wide">
    <table class="users-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Remove</th>
        </tr>
      </thead>
    <% @students.each do |user| %>
      <tr id="user_<%= user.id %>">
        <td><%= user.full_name %></td>
        <td><%= user.email %></td>
        <td>
          <% if policy(@classroom).remove_student? %>
            <%= link_to 'X', [@classroom, user], method: :delete, remote: true, class: 'btn btn-small user-remove'%>
          <% end %>
        </td>
      </tr>
    <% end %>
    </table>
  </div>
</div>

<div class="wrapper">
  <div class="grid-unit whole">
    <h3 class="settings-table">Teachers</h3>
  </div>
   <div class="grid-unit narrow sidebar pull-right">
    <h4>Additional Teachers</h4>
    <p>To invite additional teachers to this classroom, please share this access code: <span class='token'><%= @classroom.admin_token %></span></p>
  </div>
  <div class="grid-unit wide">
    <table class="users-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <% if policy(@classroom).remove_admin? %>
            <th>Remove</th>
          <% end %>
        </tr>
      </thead>
    <% @teachers.each do |user| %>
      <tr id="user_<%= user.id %>">
        <td><%= user.full_name %></td>
        <td><%= user.email %></td>
        <% if policy(@classroom).remove_admin? %>
          <td>
            <% if policy(@classroom).remove_admin? && (user != current_user ) %>
              <%= link_to 'X', [@classroom, user], method: :delete, remote: true, class: 'btn btn-small user-remove'%>
            <% elsif policy(@classroom).remove_admin? && (user == current_user) %>
              Owner
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
    </table>
  </div>
</div>
