<tr id="user_<%= user.id %>">

  <td colspan="2" class="name-gravatar">
    <%= image_tag "#{user.avatar}?s=56", class: 'gravatar-table-image' %>
    <div class="name-email">
      <%= content_tag :strong, user.full_name %>
      (<%= content_tag :em, user_role(user), class: 'user-role' %>)<br />
      <%= link_to user.email, "mailto:#{user.email}" %>
    </div>
  </td>

  <% if policy(@classroom).admin? %>
    <td class="role">
    <% unless user == @classroom.owner || user == current_user %>

      <% if policy(@classroom).owner? %>
        <% roles = ['Owner'] + Enrollment::ROLES %>
      <% else %>
        <% roles = Enrollment::ROLES %>
      <% end %>
      <%= form_tag classroom_user_path(@classroom, user), id: "form#{user.id}", class: 'user-promote-form', remote: true, method: :patch do %>
        <%= select_tag :role, options_for_select(roles, user.role(@classroom)), onchange: "$('#form#{user.id}').submit();" %>
      <% end %>
    <% end %>
    </td>
  <% end %>

  <% if policy(@classroom).update? %>
    <td>
    <% if user.admin?(@classroom) %>
      <% if policy(@classroom).admin? && (user != current_user && user != @classroom.owner ) %>
        <%= link_to [@classroom, user], method: :delete, remote: true, class: 'user-remove request-action small', data: {confirm: 'Are you sure?'} do %>
          <%= content_tag(:span, '', class: "action-icon trash") %>
          <%= content_tag(:span, 'Remove', class: "action-label") %>
        <% end %>
      <% end %>
    <% else %>
      <%= link_to [@classroom, user], method: :delete, remote: true, class: 'user-remove request-action small', data: {confirm: 'Are you sure?'} do %>
        <%= content_tag(:span, '', class: "action-icon trash") %>
        <%= content_tag(:span, 'Remove', class: "action-label") %>
      <% end %>
    <% end %>
    </td>
  <% end %>
</tr>
