<h1>Reset your password</h1>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.hidden_field :reset_password_token %>
  <h3>
    <%= f.label :password, "New Password" %>
  </h3>
  <span>
    <%= f.password_field :password, class: "form-input", autofocus: true, autocomplete: "off" %>
  </span>

  <h3>
    <%= f.label :password_confirmation, "Confirm New Password" %>
  </h3>
  <span>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-input" %>
  </span>

  <div>
    <%= f.submit 'Update', class: 'reset-button btn' %>
  </div>

<% end %>