<li class="logo">
  <%= link_to root_path, class: "nav-links", title: 'Home' do %>
    <span class="nav-icon nav-logo"></span>
    <span class="nav-wordmark"></span>
  <% end %>
</li>
<li>
  <%= link_to_selected classrooms_path, class: "nav-links" do %>
    <span class="nav-icon nav-classrooms"></span>
    <span class="nav-label">Classrooms</span>
  <% end %>
</li>

<% if @classroom.try(:id) %>
  <li id="track_link" data-classroomid="<%= @classroom.id %>" >
    <%= link_to_selected classroom_tracks_path(@classroom), class: "nav-links" do %>
      <span class="nav-icon nav-tracks"></span>
      <span class="nav-label">Tracks</span>
    <% end %>
  </li>

  <% if @track.try(:id)%>
    <li>
      <%= link_to_selected classroom_track_analytics_path(@classroom, @track), class: "nav-links" do %>
        <span class="nav-icon nav-analytics"></span>
        <span class="nav-label">Analytics</span>
      <% end %>
    </li>
  <% end %>
<% end %>

<div class="bottom-nav">
  <li>
    <%= link_to_selected '', class: 'nav-links subnav-toggle' do %>
      <span class="nav-icon nav-account"><span class="nav-gravatar" style="background: url('<%= current_user.gravatar%>?s=68&d=blank'); background-size: contain;" title="<%= @current_user.first_name %> <%= @current_user.last_name %>"></span></span>
      <span class="nav-label subnav-slide">Account</span>
    <% end %>
  </li>
  </li>
  <li class="expand-collapse show-desktop">
    <a href='' class="nav-links collapse-toggle" title="Toggle Menu Size">
      <span class="nav-icon nav-size"></span>
      <span class="nav-label nav-label-hide">Collapse</span>
    </a>
  </li>
</div>