<tr class="request" id="request<%= request.id %>">
  <td colspan="2"><%= image_tag "#{request.owner.avatar}?s=56", class: 'gravatar-image' %><%= request.owner.full_name %></td>
  <td><%= request.question %></td>
  <td><%= request.created_at.strftime("%l:%M%P, %e %b %y") %></td>
  <td>
  <%= form_for [@classroom, request], method: :patch, remote: true do |f| %>
    <%= f.select :status, options_for_select(Request::STATUS_OPTIONS, request.status) %>
  <% end %>
<!--   <%= link_to 'Yes', remove_classroom_request_path(id: request.id, classroom_id: classroom.id), method: :patch, remote: true, class: 'btn btn-primary btn-small request-button'%></td> -->
</tr>