<tr class="request" id="request<%= request.id %>">
  <td colspan="2"><%= image_tag "#{request.owner.avatar}?s=56", class: 'gravatar-image' %><%= request.owner.full_name %></td>
  <td><%= request.updated_at.strftime("%l:%M%P, %e %b %y") %></td>
  <td><%= link_to 'Yes', remove_classroom_request_path(id: request.id, classroom_id: classroom.id), method: :patch, remote: true, class: 'btn btn-primary btn-small request-button'%></td>
</tr>