<div class="padding-border request request-item <%= 'being-helped' if request.being_helped? %>" id="request<%= request.id %>">
  <div class="question-content">
    <div class="gravatar-meta">
      <%= request.gravatar_image %>
      <%= request.time %>
      <%= request.metoo_count %>
    </div>
    <div class="question-meta">
      <div class="question-header">
        <span class="h5"><%= request.owner_name %></span>
        <span class="pr"><%= request.star_icon %></span>
      </div>
      <div class="question">
        <%= request.question_with_hashtags %>
      </div>
      <div class="question-actions">
        <%= request.metoo_button %>
        <%= request.toggle_help_button %>
        <%= request.done_button %>

        <span class="pr">
          <%= request.more_button %>
          <%= request.delete_button %>
        </span>

      </div>
      <%= request.metoo_people %>
    </div>
  </div>
</div>