<tr class="request" id="request<%= request.id %>">
  <td colspan="2"><%= image_tag "#{request.owner.avatar}?s=56", class: 'gravatar-image' %><%= request.owner.full_name %></td>
  <td><%= request.question %></td>
  <td><%= request.created_at.strftime("%l:%M%P, %e %b %y") %></td>
  <td>
  <% if request.status == Request::STATUS_OPTIONS[0] %>
    <%= link_to 'Being helped?', toggle_help_classroom_request_path(id: request.id, classroom_id: @classroom.id), method: :patch, remote: true, class: 'btn btn-primary btn-small request-button'%>
    <%= link_to 'Done?', remove_classroom_request_path(id: request.id, classroom_id: @classroom.id), method: :patch, remote: true, class: 'btn btn-small request-remove dont-show'%>
  <% elsif request.status == Request::STATUS_OPTIONS[1] %>
    <%= link_to 'Being helped?', toggle_help_classroom_request_path(id: request.id, classroom_id: @classroom.id), method: :patch, remote: true, class: 'btn btn-success btn-small request-button'%>
    <%= link_to 'Done?', remove_classroom_request_path(id: request.id, classroom_id: @classroom.id), method: :patch, remote: true, class: 'btn btn-small request-remove'%>
  <% end %>

  <%= link_to 'X', [@classroom, request], method: :delete, remote: true, class: 'btn btn-small request-delete'%>
</tr>