  <div class="grid-unit whole">
    <h2>Completed Questions</h2>
    <h6 class="subtitle"><%= @classroom.name %></h6>
  </div>
</div>
<div class="wrapper requests-container" id="completed-requests">

  <div class="grid-unit narrow pr" id="pagination">
    <%= render 'requests_pagination' %>
  </div>

  <div class="grid-unit wide helpcue requests">
    <%= question_count @requests.total_count %>
    <div class="padding-border request <%= 'dont-show' if !@requests.empty? %>" id="placeholder">
      <div class="question-content">
        <p class="placeholder">Questions that are marked as 'done' will appear here.</p>
      </div>
    </div>
    <div id="requests">
      <% @requests.each do |request| %>
        <%= render partial: 'request', locals: { classroom: @classroom, request: request } %>
        <%= render partial: 'request_more', locals: { classroom: @classroom, request: request } %>
      <% end %>
    </div>

  </div>
</div>