  <div class="grid-unit wide">
    <h2>Active Questions</h2>
    <h6 class="subtitle"><%= @classroom.name %></h6>
  </div>

  <div class="grid-unit narrow">
    <p>
      Sort:

      <% if policy(@classroom).set_sort? %>
        <%= link_to 'Time', set_sort_classroom_path(@classroom, sort_type: 'time'), class: "sort-link sort-by-time #{'active' if @classroom.sort_by_time?}", remote: true, method: :patch %> |
        <%= link_to 'Popularity', set_sort_classroom_path(@classroom, sort_type: 'popularity'), class: "sort-link sort-by-popularity #{'active' if @classroom.sort_by_popularity?}", remote: true, method: :patch %>
      <% else %>
        <strong><%= @classroom.sort_type.capitalize %></strong>
      <% end %>
    </p>
  </div>
</div>
<div class="wrapper">
  <div class="grid-unit narrow pr">
    <%= render 'form' %>
  </div>
  <div class="grid-unit wide helpcue requests" id="requests-list">
    <div class="padding-border request <%= 'dont-show' if !@requests.empty? %>" id="placeholder">
      <div class="question-content">
        <p class="placeholder">There's no one in the help queue right now.</p>
      </div>
    </div>

    <%= render partial: 'requests' %>
  </div>
</div>