
  <% if policy(@classroom).edit? %>
    <div class="grid-unit narrow pull-right">
      <%= link_to 'Manage Classroom', edit_classroom_path(@classroom), id: 'manage-classroom' %>
    </div>
  <% end %>
</div>
<div class="wrapper">
  <div class="grid-unit whole">
    <h2>Help Cue</h2>
    <h6 class="subtitle"><%= @classroom.name %></h6>
  </div>
</div>
<div class="wrapper">
  <div class="grid-unit narrow pr">
    <% unless current_user.admin?(@classroom) %>
      <%= render 'form' %>
    <% end %>
  </div>
  <div class="grid-unit wide helpcue" id="requests-list">
    <% @requests.each do |request| %>
      <%= render partial: 'request', locals: { classroom: @classroom, request: request } %>
    <% end %>
    <!-- <table id="requests-table">
      <thead>
        <tr>
          <th colspan="2">Name</th>
          <th>Question</th>
          <th>Time</th>
          <th>Status</th>
        </tr>
      </thead>
        <tr id="placeholder" class="<%= 'dont-show' if !@requests.empty? %>"><td colspan="4">No students need help right now.</td></tr>
    </table> -->
  </div>
</div>

<script src="http://js.pusher.com/2.1/pusher.min.js"></script>
<script type="text/javascript">
  window.HelpCue.pusher = new Pusher('<%= Pusher.key %>');
  window.HelpCue.channel = window.HelpCue.pusher.subscribe('classroom<%= @classroom.id %>-requests');
  window.HelpCue.channel.bind('request', function(data) {
    HelpCue.RequestsList.realtimeRequests(data)
  });
</script>