  <div class="grid-unit whole">
    <h2>Active Questions</h2>
    <h6 class="subtitle"><%= @classroom.name %></h6>
  </div>
</div>
<div class="wrapper">
  <div class="grid-unit narrow pr">
    <% unless current_user.admin?(@classroom) %>
      <%= render 'form' %>
    <% end %>
  </div>
  <div class="grid-unit wide helpcue requests" id="requests-list">
    <div class="padding-border request <%= 'dont-show' if !@requests.empty? %>" id="placeholder">
      <div class="question-content">
        <p class="placeholder">There's no one in the help queue right now.</p>
      </div>
    </div>
    <%= question_count @requests.count %>
    <% @requests.each do |request| %>
      <%= render partial: 'request', locals: { classroom: @classroom, request: request } %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  window.HelpCue.channel = window.HelpCue.pusher.subscribe('classroom<%= @classroom.id %>-requests');
  window.HelpCue.channel.bind('request', function(data) {
    if (data.user_id !== window.HelpCue.user.id) {
      HelpCue.RequestsList.realtimeRequests(data)
    };
  });
</script>