  <div class="grid-unit whole">
    <h2>Questions</h2>
    <h6 class="subtitle"><%= @classroom.name %></h6>
  </div>
</div>
<div class="wrapper requests-container">

  <div class="grid-unit narrow pr" id="pagination">
    <%= render 'requests_pagination' %>
  </div>

  <div class="grid-unit wide helpcue requests">
    <div class="padding-border request <%= 'dont-show' if !@requests.empty? %>" id="placeholder">
      <div class="question-content">
        <p class="placeholder">There is no match for <em>'<%= params[:query] %>'</em>.</p>
      </div>
    </div>
    <%= search_count @requests.total_count %>
    <div id="requests"><%= render 'requests' %></div>

  </div>
</div>