<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-input", :tabindex => '1', autofocus: true %>
  </div>
  <div class="form-group">
    <%= f.label :password %><p class="pull-right forgot"><%= link_to "Forgot?", new_password_path(resource_name), id: 'password-reset' %></p>
    <%= f.password_field :password, autocomplete: "off", class: "form-input", :tabindex => '2' %>
  </div>
  <% if devise_mapping.rememberable? -%>
    <div class="form-group">
      <%= f.check_box :remember_me %>
      <span class="form-help-block"><%= f.label :remember_me, 'Remember me on this computer.'%></span>
    </div>
  <% end %>
  <%= f.submit "Login", class: "btn btn-primary", :tabindex => '4'%>
<% end %>
<div class="grid-unit-footer">
  <p class="register"><%= link_to 'Click here to register', new_registration_path(resource_name), :tabindex => '5' %></p>
  <%- if devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %><br />
    <% end -%>
  <% end -%>
</div>
