<!DOCTYPE html>
<html>
  <head>
    <title>HelpCue</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>
    <%= favicon_link_tag 'curri512.png', rel: 'apple-touch-icon', type: 'image/png', size: '512x512' %>
    <%= favicon_link_tag 'curri152.png', rel: 'apple-touch-icon', type: 'image/png', size: '152x152' %>
    <%= favicon_link_tag 'curri120.png', rel: 'apple-touch-icon', type: 'image/png', size: '120x120' %>
    <%= favicon_link_tag 'curri76.png', rel: 'apple-touch-icon', type: 'image/png', size: '76x76' %>
  </head>
  <body class="login">
    <div class="brandbar"></div>
    <div class="main">
      <div class="wrapper">
        <div class="grid-unit narrow flash">
          <%= render 'shared/alerts' %>
        </div>
        <div class="grid-unit narrow login-logo">
          <%= render 'shared/logo' %>
        </div>
        <%- if devise_mapping.omniauthable? %>
          <div class="grid-unit narrow login-gplus">
            <%= link_to omniauth_authorize_path(resource_name, :google_oauth2), class: 'btn btn-primary googleplus-login' do %>
              <span class="icon"></span>Sign in with Google
            <% end %>
            <p>or</p>
          </div>
        <% end %>
        <div class="grid-unit narrow login-box">
          <%= yield %>
        </div>
      </div>
    </div>
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </body>
</html>